*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Exo 2", sans-serif;
}
header{
    padding: 1.5em;
}
.intro, .projects, .contact{
    padding: 1.5em;
}

.project{
    border: 1px solid #090909;
    margin: 1em;
    padding: 1em;
}

footer{
    padding: 1em 0;
    position: absolute;
    bottom: 0;
    position: inherit;
}